<ion-card color="dark">
  <ion-card-header >
      <ion-card-title >Mis Viajes</ion-card-title>
      <button  (click)="crear()">
        <ion-icon  name="add-circle"></ion-icon>
      </button>
  </ion-card-header>
  <ion-card-subtitle ></ion-card-subtitle>
  <ion-card-content>
    <ion-item *ngFor="let n of viajes">
        <ion-item>
          <ion-list>
            <ion-item>
              <ion-label>
                <h3>Conductor     {{n.conductor}}</h3>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <h3>Capacidad     {{n.capacidad}}</h3>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <h3>Destino     {{n.destino}}</h3>
              </ion-label>
            </ion-item>
            <ion-item side="end">
              <ion-item-option color="danger" (click)="eliminar(n)">
                <ion-icon name="trash"></ion-icon> 
              </ion-item-option>
              </ion-item>
          </ion-list>
      </ion-item>    
    </ion-item>
  </ion-card-content>
</ion-card>