<ion-header>
  <ion-toolbar color="dark">
      <ion-title>Postear viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding-vertical" color="dark">
      <ion-card class="ion-text-center">
          <ion-card-title>
              <ion-label>
                  <h1>Datos del viaje</h1>
              </ion-label>
          </ion-card-title>

        
          <ion-card-content>
            
              <hr>
             
              <ion-item>
                  <ion-label position="floating">Destino</ion-label>
                  <ion-input type="text" [(ngModel)]="destino"></ion-input>
              </ion-item>

              <ion-item >
                <ion-label position="floating">Precio (maximo 3500)</ion-label>
                <ion-input type="number" id="precio" [(ngModel)]="precio" min='0' max="3500" value="0" (ionChange)="a()"></ion-input>
            </ion-item>

            <ion-item>
            <ion-button shape="block" fill="dark"(click)="mapa()">Ubicar destino</ion-button>
            </ion-item>
            <ion-item>
              <ion-select placeholder="Seleccione Vehiculo" >
                <ion-select-option *ngFor="let v of vehiculos" [value]="v.nombre">{{v.nombre}}</ion-select-option>
              </ion-select>
              <hr>
              <ion-button type="sumbit" shape="block" fill="dark" (click)="guardar(v)">Postear viaje</ion-button>
            </ion-item>
            
          </ion-card-content>
      </ion-card>
     


  </div>

</ion-content>
