<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons>
      <ion-button (click)="back()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="dark">
    <ion-card-header>
      <ion-card-title>Restablecer contraseña</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="full">
        <ion-label position="floating">Ingresar correo</ion-label>
        <ion-input type="email"  [(ngModel)]='email' maxlength="30"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-item>
    <ion-button color="dark" expand="full" (click)="a()" >Enviar correo de Restablecimiento</ion-button>
  </ion-item>
</ion-content>
