<ion-header>
  <ion-toolbar>
    <ion-title>Ingresar Vehiculo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding-vertical" color="dark">
    <ion-card class="ion-text-center">
        <ion-card-title>
            <ion-label>
                <h1>Datos del vehiculo</h1>
            </ion-label>
        </ion-card-title>

        <ion-card-content>
            <ion-item>
                <ion-label position="floating">patente</ion-label>
                <ion-input type="text" [(ngModel)]="patente"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">capacidad</ion-label>
                <ion-input type="number" [(ngModel)]="capacidad"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">nombre</ion-label>
                <ion-input type="text" [(ngModel)]="nombre"></ion-input>
            </ion-item>

        </ion-card-content>
    </ion-card>
    <ion-button shape="block" fill="dark" (click)="Ingresar()">Ingresar vehiculo</ion-button>

</div>
</ion-content>
