<ion-header>
  <ion-toolbar color="dark">
    <ion-title >TellevoApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div>
  <ion-grid id="img">
    <ion-row>
      <ion-col size-xs="12" size-md="12" size-lg="4" size-sm="12">
        <ion-card>
          <ion-img src="../../../assets/img/img1.jfif" alt="..."  width="100px" height="100px"></ion-img>
          <ion-card-header>
            
          </ion-card-header>
          <ion-card-content>
            <label> Ingresa tu vehiculo y postea viajes para que los demas alumnos puedan unise</label>
          </ion-card-content>
        </ion-card>
        <hr>
      </ion-col>

      <ion-col size-xs="12" size-md="12" size-lg="4" size-sm="12">
        <ion-card>
          <ion-img src="../../../assets/img/img2.jfif" alt="..."  width="100px" height="100px"></ion-img>
          <ion-card-header>
            
          </ion-card-header>
          <ion-card-content>
            <label> Busca viajes posteados por alumnos y ahorrate las molestias de esperar locomocion</label>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="12" size-md="12" size-lg="" size-sm="12">
        <ion-card>
          <ion-img src="../../../assets/img/img3.jfif" alt="..."  width="100px" height="100px"></ion-img>
          <ion-card-header>
            
          </ion-card-header>
          <ion-card-content>
            <label> Mira directamente el destino de los viajes posteados por tus compañeros</label>
          </ion-card-content>
        </ion-card>
        <hr>
      </ion-col>

    </ion-row>
  </ion-grid>

</div>


<div id="detection">
</div>

<ion-footer>

</ion-footer>




</ion-content>
