#detection{
    padding-top: 10%;
    margin-left: 40%;
    max-width: 300px;
    max-height: 300px;
}

#img{
    max-width: 70%;
    max-height: 70%;
}
ion-img{
  padding: 15%;
}

ion-footer{
    margin-top: 20%;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: rgb(155, 49, 49) ;
}