<ion-card color="dark">
  <ion-card-header>
    <ion-toolbar color="dark">
      <ion-card-title slot="start" >Mis vehiculos</ion-card-title>
      <ion-fab slot="end">
        <ion-fab-button size="small" (click)="crear()">
          <ion-icon name="add" ></ion-icon>
        </ion-fab-button>
      </ion-fab>
     
    </ion-toolbar>
     
      
  </ion-card-header>
  <ion-card-subtitle ></ion-card-subtitle>
  <ion-card-content>
    <ion-item *ngFor="let n of vehiculos">
        <ion-item>
          <ion-list>
            <ion-item>
              <ion-label>
                <h3>Conductor:     {{n.nombre}}</h3>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <h3>Capacidad:    {{n.capacidad}}</h3>
              </ion-label>
            </ion-item>
            <ion-item side="end">
              <ion-item-option color="danger" (click)="eliminar(n)">
                <ion-icon name="trash"></ion-icon> 
              </ion-item-option>
              </ion-item>
          </ion-list>
      </ion-item>    
    </ion-item>
  </ion-card-content>
</ion-card>