<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button  (Click)="onClick()">
        <ion-icon slot="start" name="menu"><app-menu-principal></app-menu-principal> </ion-icon>
     
      </ion-button>
    </ion-buttons>
    
   
      <ion-title>Perfil</ion-title>

  </ion-toolbar>  
</ion-header>

<ion-content id="content1">

<div>
<ion-card> 
  <ion-card-header>
    <ion-title>BIENVENIDO</ion-title>
  </ion-card-header>
  
  <ion-card-content>
    <ion-item>
       <ion-label> {{user.usuario}}</ion-label>
    </ion-item>

    <ion-item>  
      <ion-label>Carrera :{{data.carrera}}</ion-label> 
    </ion-item>
  </ion-card-content>
</ion-card>

</div>

<div>
  <ion-item>
    <ion-label>
      Mis viajes
    </ion-label>
  </ion-item>

  
<!-- Item as a Button -->
<ion-card>
  <ion-card-content>
    <ion-item button (click)="buttonClick()">
      <ion-label>
        Button Item
      </ion-label>
    </ion-item>

  </ion-card-content>
</ion-card>
</div>
 
<ion-footer >
  <ion-toolbar>
    <ion-button class="square" #squareA>
      <ion-icon name="search-outline" id="buttonS"></ion-icon>
    </ion-button>
    
  </ion-toolbar>
</ion-footer>
</ion-content>
